# TTTM - Table Tennis Score Prediction - Israel
## in this project we will try to predict the score of the matches, and the forms that are filled by each team

### Initial imports

In [1]:
import re
from datetime import datetime

import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Open csv

In [2]:
def read_csv(filename):
    return pd.read_csv("./" + filename)

### Dataset - links to every player personal profile page

#### crwaling to 'http://www.tttm.co.il', preparing the first dataset that will contain each player personal link

In [5]:
players_hrefs = []
top_players_df = None


def get_players_df():
    print("Start - Retrieve data from site")
    for i in range(1, 11):
        url = f"https://www.tttm.co.il/rk/MS-{i}/%D7%98%D7%A0%D7%99%D7%A1-%D7%A9%D7%95%D7%9C%D7%97%D7%9F-%D7%93%D7%99%D7%A8%D7%95%D7%92-%D7%92%D7%91%D7%A8%D7%99%D7%9D"
        res = requests.get(url)
        soup = BeautifulSoup(res.content, "html.parser")
        players = soup.find("table").find_all("tr")
        for player in players:
            a = player.find("a")
            try:
                players_hrefs.append(a["href"])
            except:
                continue

    players_to_df = {
        "name": [],
        "club": [],
        "rank": [],
        "category": [],
        "points": [],
        "id": [],
        "link": [],
    }

    for h in players_hrefs:
        res = requests.get("http://tttm.co.il" + h)
        soup = BeautifulSoup(res.content, "html.parser")
        name = soup.find("div", attrs={"class": "playerName"}).text
        player_presentation = soup.find("div", attrs={"class": "playerPresentation"})
        club = player_presentation.find("a").text
        rank = int(player_presentation.find("table").find("b").text)
        cat_points = player_presentation.find_all("span")
        category = cat_points[0].find("b").text
        points = float(cat_points[1].find("b").text)
        player_id = player_presentation.find("b").text.strip("\n").strip()
        print(name)
        players_to_df["name"].append(name)
        players_to_df["club"].append(club)
        players_to_df["rank"].append(rank)
        players_to_df["category"].append(category)
        players_to_df["points"].append(points)
        players_to_df["id"].append(player_id)
        players_to_df["link"].append(h)

    top_players_df = pd.DataFrame.from_dict(players_to_df)
    top_players_df["name"] = top_players_df["name"].str.strip("\n ")
    top_players_df["club"] = top_players_df["club"].str.strip("\n ")
    top_players_df.to_csv("players_data_table.csv", encoding="utf-8-sig")
    print("Done")

## Trying to open the players_data_table.csv. if it doesnt work we will use the function above

In [6]:
try:
    top_players_df = read_csv("./players_data_table.csv")
    players_hrefs = top_players_df["link"]
except:
    get_players_df()
    top_players_df = read_csv("./players_data_table.csv")
    players_hrefs = top_players_df["link"]

In [7]:
try:
    top_players_df = top_players_df.drop("Unnamed: 0", axis=1)
except:
    pass

In [8]:
top_players_df

,name,club,rank,category,points,id,link
0,יונתן שוסטרמן,מ. בני הרצליה,1,S,1807.8,745,/p/745/יונתן-שוסטרמן
1,מיכאל טאובר,עירוני גבעתיים,2,S,1774.0,853,/p/853/מיכאל-טאובר
2,טל ישראלי,הפועל חיפה,3,E20,1756.9,651,/p/651/טל-ישראלי
3,עמית גורן,הפועל עירוני נוף הגליל,4,S,1712.4,676,/p/676/עמית-גורן
4,גל אלגואטי,מ. בני הרצליה,5,S,1686.0,2183,/p/2183/גל-אלגואטי
...,...,...,...,...,...,...,...
995,איציק סנדרוסי,הפועל ירושלים,996,S50,210.4,3618,/p/3618/איציק-סנדרוסי
996,מיכאל אזורב,מועדון ספורט מעלה אדומים,997,S60,210.0,3545,/p/3545/מיכאל-אזורב
997,איתי רייך,מ. בני הרצליה,998,M13,208.9,7644,/p/7644/איתי-רייך
998,דניאל ירמיהו,הפועל ירושלים,999,S70,208.8,3464,/p/3464/דניאל-ירמיהו
999,שרון אהוד,מועדון ספורט מעלה אדומים,1000,S50,208.8,3436,/p/3436/שרון-אהוד

### Let's impelement a function to return a single row of a player
#### get_player_row(player_name) -> return player's row

In [9]:
def get_player_row(player_name):
    try:
        row = top_players_df[top_players_df["name"] == player_name]
        return row
    except:
        return None

In [10]:
test_row = get_player_row("רון דימנט")
test_row["name"].values[0]

'רון דימנט'

## After saving the first dataframe as csv we need to acquire more data

### Creating a new dataset for all the games that the players which we crawled to achieve their data earlier

In [35]:
games_to_df = {
    "match_id": [],
    "match_type": [],
    "date": [],
    "p1_id": [],
    "p1_name": [],
    "p1_club": [],
    "p1_rank": [],
    "p1_sets": [],
    "p1_home": [],
    "p1_points_gained": [],
    "p2_id": [],
    "p2_name": [],
    "p2_club": [],
    "p2_rank": [],
    "p2_sets": [],
    "p2_home": [],
    "p2_points_gained": [],
    "winner_id": [],
}

## Creating the matches dataset

### We will now crawl on every player in top 500 and create a dataset of all the games that a player played

In [36]:
for h in range(500):
    try:
        res = requests.get("http://tttm.co.il" + players_hrefs[h])
        soup = BeautifulSoup(res.content, "html.parser")
        pages_arr = soup.find("div", attrs={"class": "rankpages"}).find_all("a")
        player_presentation = soup.find("div", attrs={"class": "playerPresentation"})
        player_details = {}
        player_details["name"] = (
            player_presentation.find("div", attrs={"class": "playerName"})
            .text.strip("\n")
            .strip()
        )
        player_details["id"] = player_presentation.find("b").text.strip("\n").strip()
        player_details["club"] = player_presentation.find("a").text.strip("\n").strip()
        print("Player number: ", h, " ", player_details)
        for p in range(9):
            res = requests.get("http://tttm.co.il" + pages_arr[p]["href"])
            soup = BeautifulSoup(res.content, "html.parser")
            table = soup.find("table", attrs={"class": "lstMatchs"})
            trays = table.findAll("tr")
            for tr in trays:
                try:
                    match_type = tr.find("a", attrs={"class": "fsClub"}).text.strip(
                        "\r\n                        "
                    )
                    td_list = tr.find_all("td")
                    match_id = td_list[0].text
                    date_string = td_list[2].text
                    p1_points_gained = 0
                    p2_points_gained = 0
                    try:
                        p1_points_gained = float(td_list[10].find("span").text)
                        delta = float(td_list[9].find("b").text)
                        if p1_points_gained < 0:
                            p2_points_gained = abs(p1_points_gained) * delta
                        else:
                            p2_points_gained = float(p1_points_gained / delta)
                            p2_points_gained = (-1) * (p2_points_gained)
                    except:
                        p1_points_gained = 0
                        p2_points_gained = 0
                    p1_id = player_details["id"]
                    p1_name = player_details["name"]
                    p1_club = player_details["club"]
                    p1_rank = td_list[1].find("span").text
                    p1_rank = float(re.findall("\d+\.\d+", p1_rank)[0])
                    p2_rank = td_list[6].text
                    p2 = td_list[5].find_all("a")
                    p2_name = p2[0].text.strip("    \r\n                    ")
                    p2_club = p2[1].text
                    p2_rank = float(td_list[6].text)
                    p2_id = top_players_df[top_players_df["name"] == p2_name][
                        "id"
                    ].values[0]
                    sets = td_list[8].text.split("-")
                    p2_sets = int(sets[0])
                    p1_sets = int(sets[1])
                    p2_home = np.nan
                    p1_home = np.nan
                    try:
                        teams = td_list[3].find("i").text.split("-")
                        if p2_club in teams[0]:
                            p2_home = 1
                            p1_home = 0

                        elif p2_club in teams[1]:
                            p1_home = 1
                            p2_home = 0

                        games_to_df["p2_home"].append(p2_home)
                        games_to_df["p1_home"].append(p1_home)

                    except:
                        games_to_df["p2_home"].append(p2_home)
                        games_to_df["p1_home"].append(p1_home)

                    date_time_obj = datetime.strptime(date_string, "%d/%m/%Y")

                    winner = p1_id if p1_sets > p2_sets else p2_id
                    games_to_df["p1_points_gained"].append(p1_points_gained)
                    games_to_df["p2_points_gained"].append(p2_points_gained)
                    games_to_df["match_id"].append(match_id)
                    games_to_df["match_type"].append(match_type)
                    games_to_df["date"].append(date_time_obj)
                    games_to_df["p1_id"].append(p1_id)
                    games_to_df["p1_club"].append(p1_club)
                    games_to_df["p1_name"].append(p1_name)
                    games_to_df["p1_rank"].append(p1_rank)
                    games_to_df["p2_id"].append(p2_id)
                    games_to_df["p2_club"].append(p2_club)
                    games_to_df["p2_name"].append(p2_name)
                    games_to_df["p2_rank"].append(p2_rank)

                    games_to_df["p1_sets"].append(p1_sets)
                    games_to_df["p2_sets"].append(p2_sets)
                    games_to_df["winner_id"].append(winner)

                except:
                    continue
    except:
        continue

Player number:  0   {'name': 'יונתן שוסטרמן', 'id': '745', 'club': 'מ. בני הרצליה'}
Player number:  1   {'name': 'מיכאל טאובר', 'id': '853', 'club': 'עירוני גבעתיים'}
Player number:  2   {'name': 'טל ישראלי', 'id': '651', 'club': 'הפועל חיפה'}
Player number:  3   {'name': 'עמית גורן', 'id': '676', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  5   {'name': 'יניב שרון', 'id': '882', 'club': "בית''ר ראשון לציון"}
Player number:  6   {'name': 'עמרי בן ארי', 'id': '894', 'club': 'עירוני גבעתיים'}
Player number:  7   {'name': 'אביב בן ארי', 'id': '524', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  8   {'name': 'איתי אביבי', 'id': '2284', 'club': 'מ. בני הרצליה'}
Player number:  9   {'name': 'גל פרפל', 'id': '741', 'club': 'הישגי כרמיאל'}
Player number:  10   {'name': 'רון דוידוביץ', 'id': '881', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  11   {'name': 'עידן אוגורצב', 'id': '862', 'club': 'מכבי תל אביב'}
Player number:  12   {'name': 'איתי שושן', 'id': '2625', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  13   {'name': 'מתן סימון', 'id': '341', 'club': 'עירוני גבעתיים'}
Player number:  14   {'name': 'אור בשן', 'id': '865', 'club': 'מ. בני הרצליה'}
Player number:  15   {'name': 'אורי אלמור', 'id': '2620', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  16   {'name': 'איסק אברמוב', 'id': '874', 'club': "בית''ר ראשון לציון"}
Player number:  17   {'name': 'רון דימנט', 'id': '675', 'club': 'הישגי כרמיאל'}
Player number:  18   {'name': 'דור אורן', 'id': '692', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  19   {'name': 'רונאל דוידוב', 'id': '806', 'club': 'מכבי דימונה'}
Player number:  20   {'name': 'גיא קוחלי', 'id': '684', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  21   {'name': 'נתנאל אברמוב', 'id': '3181', 'club': "בית''ר ראשון לציון"}
Player number:  22   {'name': 'אוהד פניאל', 'id': '891', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  24   {'name': 'יורי פורמן', 'id': '888', 'club': 'הפועל לוד'}
Player number:  25   {'name': 'אדיר דניאל', 'id': '738', 'club': 'אופק קריית אונו'}
Player number:  26   {'name': 'שמעון רבינוביץ', 'id': '869', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  27   {'name': 'בן יצחק', 'id': '617', 'club': 'מכבי תל אביב'}
Player number:  28   {'name': 'אלכסיי נפלוקוב', 'id': '7692', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  29   {'name': 'אושר אשכנזי', 'id': '820', 'club': 'הפועל פתח תקווה'}
Player number:  30   {'name': 'דניאל קושקרוב', 'id': '620', 'club': 'מכבי דימונה'}
Player number:  31   {'name': 'זיו יצחק', 'id': '682', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  32   {'name': 'אביב עמידור', 'id': '130', 'club': 'הפועל ירושלים'}
Player number:  33   {'name': 'פבל טמנוגורוד', 'id': '858', 'club': "הפועל טנ''ש באר שבע"}
Player number:  34   {'name': 'יניב קרמזין', 'id': '685', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  35   {'name': 'אור שטיין', 'id': '126', 'club': 'הפועל ירושלים'}
Player number:  36   {'name': 'אלכסנדר קורס', 'id': '1453', 'club': "טנ''ש 2007 נתניה"}
Player number:  37   {'name': 'בנצי בלנק', 'id': '878', 'club': 'הפועל לוד'}
Player number:  38   {'name': 'שחר כרמון', 'id': '1992', 'club': 'מכבי תל אביב'}
Player number:  39   {'name': 'אור מגן', 'id': '6771', 'club': 'הפועל פתח תקווה'}
Player number:  40   {'name': 'עודד גרטמן', 'id': '930', 'club': 'מכבי תל אביב'}
Player number:  41   {'name': 'איתמר אברמוב', 'id': '801', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  42   {'name': 'מתן עולי', 'id': '1945', 'club': 'מ. בני הרצליה'}
Player number:  44   {'name': 'אושרי זפרן', 'id': '1172', 'club': 'הפועל גליל תחתון'}
Player number:  45   {'name': 'עידן טרוסמן', 'id': '624', 'club': 'אליצור קריית אתא'}
Player number:  46   {'name': 'נתן סגל', 'id': '626', 'club': 'הישגי כרמיאל'}
Player number:  47   {'name': 'שחר גינסברג', 'id': '884', 'club': 'מכבי רחובות'}
Player number:  48   {'name': 'צחי פרום', 'id': '965', 'club': 'מכבי תל אביב'}
Player number:  49   {'name': 'אסף חננאל', 'id': '3082', 'club': 'אופק קריית אונו'}
Player number:  50   {'name': 'עמנואל כהן', 'id': '2809', 'club': 'הפועל ירושלים'}
Player number:  51   {'name': 'אמנון בן-שחר', 'id': '2596', 'club': 'מ. בני הרצליה'}
Player number:  52   {'name': 'יוני ירמיהו', 'id': '845', 'club': 'הפועל לוד'}
Player number:  53   {'name': 'גבריאל קלוו', 'id': '324', 'club': 'הפועל ירושלים'}
Player number:  54   {'name': 'יונתן שיפמן', 'id': '901', 'club': 'מכבי תל אביב'}
Player number:  55   {'name': 'אבנר לוין', 'id': '1199', 'club': 'מ. בני הרצליה'}
Player number:  56   {'name': 'יבגני ספוזניקוב', 'id': '523', 'club': 'הפועל בת ים'}
Player number:  57   {'name': 'בן סורוקין', 'id': '144', 'club': 'הפועל ירושלים'}
Player number:  58   {'name': 'יניב שפס', 'id': '1867', 'club': 'הפועל ביחד עברון מזרעה'}
Player number:  59   {'name': 'דוד אלטרץ', 'id': '107', 'club': 'הפועל ירושלים'}
Player number:  60   {'name': 'אלעד אברויה', 'id': '935', 'club': 'הפועל אשדוד'}
Player number:  61   {'name': 'דימיטרי פלאי', 'id': '6607', 'club': "הפועל טנ''ש באר שבע"}
Player number:  62   {'name': 'אליה זבולוני', 'id': '4523', 'club': 'אופק קריית אונו'}
Player number:  63   {'name': 'שי רוטברת', 'id': '798', 'club': 'מכבי דימונה'}
Player number:  64   {'name': 'עידן לוי', 'id': '2491', 'club': 'מכבי תל אביב'}
Player number:  65   {'name': 'דמיטרי אברמנקו', 'id': '1591', 'club': 'עירוני מעלות תרשיחא'}
Player number:  66   {'name': 'גאורגי טוניאן', 'id': '1205', 'club': 'מכבי גבירול באר שבע'}
Player number:  67   {'name': 'עידו אטקין', 'id': '705', 'club': 'עירוני גבעתיים'}
Player number:  68   {'name': 'יורי דימנט', 'id': '1597', 'club': 'עירוני מעלות תרשיחא'}
Player number:  69   {'name': 'שמעון קלברס', 'id': '1475', 'club': 'הפועל לוד'}
Player number:  70   {'name': 'שחר גילעד', 'id': '1439', 'club': 'הפועל מבואות חרמון'}
Player number:  72   {'name': 'יניב יאכלביץ', 'id': '5546', 'club': 'עירוני גבעתיים'}
Player number:  73   {'name': 'בן הורנשטיין', 'id': '2964', 'club': 'עירוני גבעתיים'}
Player number:  74   {'name': 'נדב דהן', 'id': '1844', 'club': 'הפועל חיפה'}
Player number:  75   {'name': 'יצחק אברמוביץ', 'id': '1112', 'club': 'הפועל לוד'}
Player number:  76   {'name': 'אופק ביתן', 'id': '4191', 'club': 'הפועל פתח תקווה'}
Player number:  77   {'name': 'בוריס קושניר', 'id': '972', 'club': "טנ''ש נס ציונה"}
Player number:  79   {'name': 'יבגני ריזוב', 'id': '2889', 'club': 'מועדון ספורט מעלה אדומים'}
Player number:  80   {'name': "אדם נג'ר", 'id': '6604', 'club': 'מ. בני הרצליה'}
Player number:  81   {'name': 'ניר רחליס', 'id': '2292', 'club': 'הפועל גליל תחתון'}
Player number:  82   {'name': 'טל מיטרני', 'id': '1660', 'club': 'מ. טנ"ש ויקטור נתניה'}
Player number:  83   {'name': 'סמיון גנדלר', 'id': '908', 'club': 'מכבי גבירול באר שבע'}
Player number:  84   {'name': 'מתן מן', 'id': '1392', 'club': "הפועל טנ''ש באר שבע"}
Player number:  85   {'name': 'עידו אמיגה', 'id': '6350', 'club': 'הפועל ירושלים'}
Player number:  86   {'name': 'אביב הלפרן', 'id': '657', 'club': 'הישגי כרמיאל'}
Player number:  87   {'name': 'חביב בן דוד', 'id': '1204', 'club': "בית''ר באר שבע"}
Player number:  88   {'name': 'רועי ארליך', 'id': '890', 'club': 'מכבי תל אביב'}
Player number:  89   {'name': 'שון ברקטוב', 'id': '621', 'club': "בית''ר באר שבע"}
Player number:  90   {'name': 'גיל אביבי', 'id': '507', 'club': 'הפועל חיפה'}
Player number:  92   {'name': 'עידו בן שימחון', 'id': '1611', 'club': "טנ''ש 2007 נתניה"}
Player number:  93   {'name': 'טל פוקס', 'id': '1769', 'club': 'מכבי שהם'}
Player number:  94   {'name': 'יעקב בוגן', 'id': '531', 'club': 'מכבי תל אביב'}
Player number:  95   {'name': 'דור רזניק', 'id': '652', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  97   {'name': 'עידו רוזנבאום', 'id': '870', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  98   {'name': 'אדי ישראלי', 'id': '892', 'club': 'הפועל חיפה'}
Player number:  99   {'name': 'דובי פורטנוי', 'id': '876', 'club': 'מכבי תל אביב'}
Player number:  100   {'name': 'יבגני ברבוי', 'id': '1408', 'club': "הפועל טנ''ש באר שבע"}
Player number:  101   {'name': 'רם שר', 'id': '934', 'club': "בית''ר באר שבע"}
Player number:  102   {'name': 'אמיר מרציאנו', 'id': '4266', 'club': 'מכבי תל אביב'}
Player number:  103   {'name': 'רביד ברנדמן', 'id': '3833', 'club': 'אופק קריית אונו'}
Player number:  104   {'name': 'עידן עופר', 'id': '6174', 'club': 'מכבי רחובות'}
Player number:  105   {'name': 'ארז זכריה', 'id': '921', 'club': 'מ. בני הרצליה'}
Player number:  106   {'name': 'דן סולודר', 'id': '752', 'club': 'הפועל לוד'}
Player number:  107   {'name': 'איגור סלבין', 'id': '1907', 'club': 'הפועל אשקלון'}
Player number:  108   {'name': 'עמית בן-עמי', 'id': '2830', 'club': 'אופק קריית אונו'}
Player number:  110   {'name': 'שימי אסרף', 'id': '926', 'club': 'הפועל חיפה'}
Player number:  111   {'name': 'יהונתן איתן', 'id': '2203', 'club': 'עירוני גבעתיים'}
Player number:  113   {'name': 'ציגי דיקשטיין', 'id': '970', 'club': 'עירוני גבעתיים'}
Player number:  114   {'name': 'רון אוישר', 'id': '635', 'club': "הפועל טנ''ש באר שבע"}
Player number:  115   {'name': 'מתן פוקס', 'id': '4304', 'club': "בית''ר ראשון לציון"}
Player number:  116   {'name': 'יובל נוטנקו', 'id': '817', 'club': 'הפועל פתח תקווה'}
Player number:  117   {'name': 'חנוך לנר', 'id': '1370', 'club': 'הפועל באר טוביה'}
Player number:  118   {'name': 'רומן דריפסקה', 'id': '7714', 'club': 'מכבי דימונה'}
Player number:  119   {'name': 'יניב בלנק', 'id': '929', 'club': "בית''ר רמלה"}
Player number:  120   {'name': 'מקסים גולדין', 'id': '6601', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  121   {'name': 'דניאל זהר', 'id': '2028', 'club': 'אופק קריית אונו'}
Player number:  122   {'name': 'פיליפ קושנר', 'id': '2387', 'club': "מכבי ראשל''צ טנ''ש"}
Player number:  123   {'name': 'אביב גורדון', 'id': '1381', 'club': "טנ''ש נס ציונה"}
Player number:  124   {'name': 'איגור גולדברג', 'id': '1359', 'club': 'הפועל בת ים'}
Player number:  125   {'name': 'תומר הדר', 'id': '7044', 'club': 'מ. בני הרצליה'}
Player number:  126   {'name': 'ליאור קוסטינסקי', 'id': '683', 'club': 'כרמל מרכזי טניס שולחן חיפה'}
Player number:  127   {'name': 'אריאל שפירא', 'id': '532', 'club': 'טניס שולחן חיפה'}
Player number:  128   {'name': 'יעקב שי', 'id': '841', 'club': "בית''ר באר שבע"}
Player number:  129   {'name': 'אלון לב', 'id': '949', 'club': 'הפועל דרום השרון'}
Player number:  130   {'name': 'פבל סטסנקו', 'id': '2189', 'club': 'הפועל בת ים'}
Player number:  131   {'name': 'עמית יצחק', 'id': '2957', 'club': 'מכבי תל אביב'}
Player number:  132   {'name': 'דני ליבשיץ', 'id': '293', 'club': 'הפועל ירושלים'}
Player number:  133   {'name': 'אלכסנדר סלצר', 'id': '1705', 'club': 'מכבי דימונה'}
Player number:  134   {'name': 'יובל שריג', 'id': '5599', 'club': 'מכבי שהם'}
Player number:  135   {'name': 'ניר יעקובי', 'id': '1373', 'club': 'ללא מועדון'}
Player number:  136   {'name': 'תומר נעמה', 'id': '2952', 'club': 'עירוני גבעתיים'}
Player number:  137   {'name': 'אבי נזרין', 'id': '959', 'club': 'הפועל אשדוד'}
Player number:  138   {'name': 'אמיר רובינשטיין', 'id': '3675', 'club': 'הפועל לוד'}
Player number:  140   {'name': 'גלעד לוין', 'id': '2720', 'club': "בית''ר ראשון לציון"}
Player number:  141   {'name': 'דן זוילי', 'id': '2229', 'club': 'הפועל לוד'}
Player number:  142   {'name': 'ארז סנדק', 'id': '2956', 'club': 'מ. טנ"ש ויקטור נתניה'}
Player number:  143   {'name': 'ארטיום קרביץ', 'id': '5529', 'club': 'הפועל בת ים'}
Player number:  144   {'name': 'אדם בלנק', 'id': '895', 'club': "בית''ר רמלה"}
Player number:  145   {'name': 'טומי גרינפלד', 'id': '4167', 'club': "בית''ר ראשון לציון"}
Player number:  146   {'name': 'לירן בונציוק', 'id': '528', 'club': "הפועל טנ''ש באר שבע"}
Player number:  147   {'name': 'איתי חננאל', 'id': '687', 'club': 'אופק קריית אונו'}
Player number:  148   {'name': 'אדר שקד', 'id': '857', 'club': 'הפועל לוד'}
Player number:  149   {'name': 'גולן עוז', 'id': '1776', 'club': 'מכבי שהם'}
Player number:  150   {'name': 'עידו פנסו', 'id': '673', 'club': 'אופק קריית אונו'}
Player number:  151   {'name': 'יפתח אונא', 'id': '3143', 'club': "בית''ר באר שבע"}
Player number:  152   {'name': 'אורי יצחקי', 'id': '145', 'club': 'מ. בני הרצליה'}
Player number:  153   {'name': 'גיא בלוך', 'id': '902', 'club': 'מכבי שהם'}
Player number:  154   {'name': 'מתן כהן', 'id': '830', 'club': 'מ. בני הרצליה'}
Player number:  155   {'name': 'אפי גילקרוב', 'id': '2639', 'club': 'הפועל חולון'}
Player number:  156   {'name': 'יבגני בלמן', 'id': '3646', 'club': 'הפועל בת ים'}
Player number:  157   {'name': 'דוד גולן', 'id': '922', 'club': "מכבי ראשל''צ טנ''ש"}
Player number:  158   {'name': 'סטניסלב בוייקנר', 'id': '1735', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  159   {'name': 'רן מנשה', 'id': '1937', 'club': "טנ''ש 2007 נתניה"}
Player number:  160   {'name': 'ליאור סרף', 'id': '3205', 'club': 'הישגי כרמיאל'}
Player number:  161   {'name': 'רוני רמסניק', 'id': '915', 'club': 'הפועל אשקלון'}
Player number:  162   {'name': 'זאב סהר', 'id': '2644', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  163   {'name': 'שמעון פקטרמן', 'id': '1940', 'club': 'הפועל חיפה'}
Player number:  164   {'name': 'יעקב אבידר', 'id': '905', 'club': "טנ''ש 2007 נתניה"}
Player number:  165   {'name': 'רועי רוזנבלט', 'id': '903', 'club': 'הפועל אשדוד'}
Player number:  166   {'name': "סרדר אפג'אן", 'id': '916', 'club': 'הפועל אילת'}
Player number:  167   {'name': 'מקסים גנקין', 'id': '8447', 'club': 'הפועל ארנון רמת גן'}
Player number:  168   {'name': 'אלכסנדר לוין', 'id': '1264', 'club': 'הפועל חיפה'}
Player number:  171   {'name': 'יובל וולפרט', 'id': '2057', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  172   {'name': 'יוסף אזולאי', 'id': '2846', 'club': 'הפועל בת ים'}
Player number:  173   {'name': 'עופר פוקס', 'id': '1772', 'club': 'מכבי שהם'}
Player number:  175   {'name': 'יפים גורביץ', 'id': '989', 'club': "הפועל טנ''ש באר שבע"}
Player number:  176   {'name': 'איתי אוניק', 'id': '961', 'club': 'מ. בני הרצליה'}
Player number:  177   {'name': 'נחום שמיס', 'id': '987', 'club': 'הפועל חיפה'}
Player number:  178   {'name': 'יהלי מור', 'id': '5817', 'club': 'מכבי תל אביב'}
Player number:  179   {'name': 'זאב גליקמן', 'id': '362', 'club': 'הפועל אשדוד'}
Player number:  180   {'name': 'אלכסנדר סליטרניק', 'id': '1511', 'club': "הפועל טנ''ש באר שבע"}
Player number:  181   {'name': 'עדי אביאני', 'id': '2920', 'club': 'מ. בני הרצליה'}
Player number:  182   {'name': 'אלכס קרנברג', 'id': '974', 'club': "הפועל טנ''ש באר שבע"}
Player number:  183   {'name': 'יואב אהרון', 'id': '5485', 'club': 'הפועל לוד'}
Player number:  184   {'name': 'יובל בץ', 'id': '140', 'club': 'הפועל ירושלים'}
Player number:  185   {'name': 'משה סימנה', 'id': '4741', 'club': 'הפועל גליל תחתון'}
Player number:  186   {'name': 'אסף גונן', 'id': '1579', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  187   {'name': 'ניר אנגלר', 'id': '4707', 'club': 'הפועל לוד'}
Player number:  188   {'name': 'איליה ריטבין', 'id': '2626', 'club': "בית''ר באר שבע"}
Player number:  189   {'name': 'אורי מינץ', 'id': '2713', 'club': 'מכבי שהם'}
Player number:  190   {'name': 'הילי ברבי', 'id': '2369', 'club': "בית''ר ראשון לציון"}
Player number:  191   {'name': 'עדי סידלר', 'id': '1778', 'club': 'מכבי שהם'}
Player number:  192   {'name': 'רועי חלמיש', 'id': '4650', 'club': "בית''ר ראשון לציון"}
Player number:  193   {'name': 'סרגיי וינטראוב', 'id': '291', 'club': 'הפועל ירושלים'}
Player number:  194   {'name': 'ניצן פרדריך', 'id': '2604', 'club': 'מכבי זאב זכרון יעקב'}
Player number:  195   {'name': 'יהודה דרור', 'id': '1693', 'club': 'מ. בני הרצליה'}
Player number:  197   {'name': 'גלעד אקסלרוד', 'id': '3088', 'club': 'אופק קריית אונו'}
Player number:  198   {'name': 'פבל פרנקל', 'id': '946', 'club': 'מכבי דימונה'}
Player number:  199   {'name': 'דניאל פטר', 'id': '833', 'club': 'מ. בני הרצליה'}
Player number:  200   {'name': 'אלכסנדר שפירו', 'id': '2629', 'club': 'אליצור קריית אתא'}
Player number:  201   {'name': 'כפיר גרטי', 'id': '1644', 'club': 'מכבי שהם'}
Player number:  202   {'name': 'יוסי רוזנבלט', 'id': '998', 'club': 'הפועל אשדוד'}
Player number:  203   {'name': 'אביב וייג', 'id': '6371', 'club': 'הפועל יוקנעם'}
Player number:  204   {'name': 'בנימין שניידר', 'id': '2847', 'club': 'מכבי תל אביב'}
Player number:  205   {'name': 'דמיטרי אסקוטסקי', 'id': '991', 'club': "מ.ק.מתנ''ס קריית גת"}
Player number:  206   {'name': 'אלעד אסרף', 'id': '1512', 'club': 'הפועל חיפה'}
Player number:  207   {'name': 'דוד גופר', 'id': '3036', 'club': "הפועל טנ''ש באר שבע"}
Player number:  208   {'name': 'רן מלינגר', 'id': '3055', 'club': 'הפועל גליל תחתון'}
Player number:  209   {'name': 'מיכאל טברסקי', 'id': '844', 'club': 'הפועל לוד'}
Player number:  212   {'name': 'רועי לימור', 'id': '1943', 'club': 'מ. בני הרצליה'}
Player number:  213   {'name': 'ברק יולזרי', 'id': '1472', 'club': 'מועדון ספורט מעלה אדומים'}
Player number:  214   {'name': 'אופק פוני', 'id': '349', 'club': 'אופק קריית אונו'}
Player number:  215   {'name': 'ניר חבצלת', 'id': '1978', 'club': "טנ''ש נס ציונה"}
Player number:  217   {'name': 'דימיטרי קובל', 'id': '4672', 'club': 'הפועל אשדוד'}
Player number:  218   {'name': 'בר אושר עובדיה', 'id': '4459', 'club': 'טניס שולחן חיפה'}
Player number:  219   {'name': 'בצלאל מייר', 'id': '2296', 'club': 'הפועל חיפה'}
Player number:  220   {'name': 'אילן דרמון', 'id': '322', 'club': 'מ. בני הרצליה'}
Player number:  221   {'name': 'עידו טל', 'id': '3035', 'club': 'מכבי גדרה'}
Player number:  222   {'name': 'שי דמארי', 'id': '1476', 'club': 'עירוני גבעתיים'}
Player number:  223   {'name': 'ערן סגל', 'id': '1206', 'club': 'מ. טנ"ש ויקטור נתניה'}
Player number:  224   {'name': 'גנאדי גרינברג', 'id': '995', 'club': 'מ. בני הרצליה'}
Player number:  225   {'name': 'אלכסנדר קורנמן', 'id': '1375', 'club': 'הפועל אשדוד'}
Player number:  226   {'name': 'יוסי עטיה', 'id': '2572', 'club': 'הפועל לוד'}
Player number:  227   {'name': 'דוד לוי', 'id': '1857', 'club': 'מכבי דימונה'}
Player number:  228   {'name': 'ליחי גרינשטיין', 'id': '512', 'club': 'עירוני גבעתיים'}
Player number:  229   {'name': 'יניב יוסף', 'id': '1333', 'club': "מ.ק.מתנ''ס קריית גת"}
Player number:  230   {'name': 'יבגני מקלר', 'id': '1564', 'club': 'הפועל חיפה'}
Player number:  231   {'name': 'עמית וולפרט', 'id': '1922', 'club': 'הפועל עירוני נוף הגליל'}
Player number:  232   {'name': 'ולדימיר ברוסילובסקי', 'id': '898', 'club': 'הפועל אשדוד'}
Player number:  233   {'name': 'אורי בן-זיו', 'id': '4126', 'club': 'אופק קריית אונו'}
Player number:  234   {'name': 'יובל ורדי', 'id': '834', 'club': 'הפועל באר טוביה'}
Player number:  235   {'name': 'יעקב שטרנברג', 'id': '975', 'club': "מכבי ראשל''צ טנ''ש"}
Player number:  236   {'name': 'אלכס בינמן', 'id': '925', 'club': "בית''ר אשדוד"}
Player number:  239   {'name': 'אלכסנדר זלנסקי', 'id': '2908', 'club': "טנ''ש נס ציונה"}
Player number:  240   {'name': 'ערן גיט', 'id': '978', 'club': "טנ''ש נס ציונה"}
Player number:  241   {'name': 'יהודה ברזילי', 'id': '4537', 'club': 'הפועל ירושלים'}
Player number:  242   {'name': 'מקסים קוקוטוב', 'id': '849', 'club': 'אליצור קריית אתא'}
Player number:  243   {'name': 'אנטולי לוינשטיין', 'id': '943', 'club': 'הפועל רמת ישי'}
Player number:  244   {'name': 'רוני קליין', 'id': '5775', 'club': 'הפועל רמת ישי'}
Player number:  245   {'name': 'מיכאל דיטיניס', 'id': '4271', 'club': 'הפועל חיפה'}
Player number:  246   {'name': 'דוד מוסקוביץ', 'id': '3667', 'club': "בית''ר אשדוד"}
Player number:  247   {'name': 'אלכסיי סקידנוב', 'id': '6930', 'club': 'הפועל אשדוד'}
Player number:  248   {'name': 'ניר חן', 'id': '4576', 'club': 'הפועל יוקנעם'}
Player number:  249   {'name': 'עידו דפני', 'id': '4494', 'club': 'הפועל לוד'}
Player number:  250   {'name': 'דני בן שיטרית', 'id': '303', 'club': 'מועדון ספורט מעלה אדומים'}
Player number:  253   {'name': 'יפתח גסר', 'id': '1685', 'club': 'מכבי תל אביב'}
Player number:  255   {'name': 'אלכסנדר אבשלומוב', 'id': '911', 'club': "טנ''ש נס ציונה"}
Player number:  256   {'name': 'יובל רוטיץ', 'id': '1189', 'club': 'מכבי זאב זכרון יעקב'}

In [38]:
games_df = pd.DataFrame.from_dict(games_to_df)
games_df

,match_id,match_type,date,p1_id,p1_name,p1_club,p1_rank,p1_sets,p1_home,p1_points_gained,p2_id,p2_name,p2_club,p2_rank,p2_sets,p2_home,p2_points_gained,winner_id
0,338816,ליגת על גברים 2022-2023,2023-01-03,745,יונתן שוסטרמן,מ. בני הרצליה,1807.8,2,1.0,-10.5,676,עמית גורן,הפועל עירוני נוף הגליל,1712.4,3,0.0,15.75,676
1,337989,ליגת על גברים 2022-2023,2022-12-27,745,יונתן שוסטרמן,מ. בני הרצליה,1800.3,3,0.0,1.5,926,שימי אסרף,הפועל חיפה,1071.1,0,1.0,-1.00,745
2,337992,ליגת על גברים 2022-2023,2022-12-27,745,יונתן שוסטרמן,מ. בני הרצליה,1800.3,3,0.0,1.5,1844,נדב דהן,הפועל חיפה,1133.6,0,1.0,-1.00,745
3,337511,ליגת על גברים 2022-2023,2022-12-25,745,יונתן שוסטרמן,מ. בני הרצליה,1800.3,3,1.0,1.5,6601,מקסים גולדין,כרמל מרכזי טניס שולחן חיפה,1057.6,0,0.0,-1.00,745
4,337516,ליגת על גברים 2022-2023,2022-12-25,745,יונתן שוסטרמן,מ. בני הרצליה,1800.3,3,1.0,3.0,685,יניב קרמזין,כרמל מרכזי טניס שולחן חיפה,1368.9,0,0.0,-2.00,745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65099,293649,ליגת א גברים 2021-2022,2022-03-02,3015,טארק קעדאן,הפועל מתנ''ס בקה אל גרבייה,469.0,0,0.0,-1.0,1579,אסף גונן,מכבי זאב זכרון יעקב,871.6,3,1.0,1.00,1579
65100,293651,ליגת א גברים 2021-2022,2022-03-02,3015,טארק קעדאן,הפועל מתנ''ס בקה אל גרבייה,469.0,3,0.0,5.0,3947,ליאב כהן,מכבי זאב זכרון יעקב,302.1,1,1.0,-5.00,3015
65101,293653,ליגת א גברים 2021-2022,2022-03-02,3015,טארק קעדאן,הפועל מתנ''ס בקה אל גרבייה,469.0,0,0.0,-2.0,526,גילעד הוזליך,מכבי זאב זכרון יעקב,721.2,3,1.0,2.00,526
65102,290032,ליגת א גברים 2021-2022,2022-02-16,3015,טארק קעדאן,הפועל מתנ''ס בקה אל גרבייה,459.0,3,1.0,6.0,1514,אלכסנדר וולוך,מכבי זאב זכרון יעקב,351.3,0,0.0,-6.00,3015
65103,290034,ליגת א גברים 2021-2022,2022-02-16,3015,טארק קעדאן,הפועל מתנ''ס בקה אל גרבייה,459.0,3,1.0,4.0,6478,אדם שורץ,מכבי זאב זכרון יעקב,241.6,0,0.0,-4.00,3015

In [15]:
# games_df = games_df.drop_duplicates('match_id')
# We remove the duplicated games later in the processing

In [39]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65104 entries, 0 to 65103
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          65104 non-null  object
 1   match_type        65104 non-null  object
 2   date              65104 non-null  datetime64[ns]
 3   p1_id             65104 non-null  object
 4   p1_name           65104 non-null  object
 5   p1_club           65104 non-null  object
 6   p1_rank           65104 non-null  float64
 7   p1_sets           65104 non-null  int64
 8   p1_home           41681 non-null  float64
 9   p1_points_gained  65104 non-null  float64
 10  p2_id             65104 non-null  int64
 11  p2_name           65104 non-null  object
 12  p2_club           65104 non-null  object
 13  p2_rank           65104 non-null  float64
 14  p2_sets           65104 non-null  int64
 15  p2_home           41681 non-null  float64
 16  p2_points_gained  65104 non-null  float64
 17  winner_id         65104 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(8)
memory usage: 8.9+ MB

In [14]:
games_df.to_csv("games_data_table.csv", sep=",", encoding="utf-8-sig")